In [2]:
import pandas as pd 
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [3]:
matrix_data = np.matrix('22,66,140;42,70,148;30,62,125;35,68,160;25,62,152')
row_labels = ['Raju' , 'Pandey' , 'Sarini' , 'Sunil' , 'Ashok']
column_headings = ['Age' , 'Height' , 'Weight']

In [4]:
df = pd.DataFrame(data = matrix_data , index = row_labels , columns = column_headings)
print("\nnew dataframe \n" , '-'*25 , sep='')
print(df)

new dataframe
-------------------------
        Age  Height  Weight
Raju     22      66     140
Pandey   42      70     148
Sarini   30      62     125
Sunil    35      68     160
Ashok    25      62     152

In [5]:
df.Age   #dot method not recommended

Raju      22
Pandey    42
Sarini    30
Sunil     35
Ashok     25
Name: Age, dtype: int32

In [8]:
#select particular index data using loc (index name)
df.loc['Raju']

Age        22
Height     66
Weight    140
Name: Raju, dtype: int32

In [9]:
#select particular index data using iloc(index position)
df.iloc[0]

Age        22
Height     66
Weight    140
Name: Raju, dtype: int32

In [10]:
print(df)

        Age  Height  Weight
Raju     22      66     140
Pandey   42      70     148
Sarini   30      62     125
Sunil    35      68     160
Ashok    25      62     152

In [11]:
print("\select index and column for a particular data\n")
print(df.loc['Pandey' , 'Height'])  #pandey is row name # height is column name

\select index and column for a particular data

70

In [12]:
print("\nselect index and column for a particular data \n") 
print(df.loc['Ashok' , ['Height' , 'Weight']])

select index and column for a particular data

Height     62
Weight    152
Name: Ashok, dtype: int32

In [13]:
print("\nselect list of index and column data\n ")
print(df.loc[['Sarini' , 'Sunil'],['Height' , 'Weight']])

select list of index and column data

        Height  Weight
Sarini      62     125
Sunil       68     160

In [14]:
df

        Age  Height  Weight
Raju     22      66     140
Pandey   42      70     148
Sarini   30      62     125
Sunil    35      68     160
Ashok    25      62     152

# select data on condition

In [15]:
print("\nrows with height >65 inch \n" , '-'*35 , sep='')
print(df[df['Height']>65])

rows with height >65 inch
-----------------------------------
        Age  Height  Weight
Raju     22      66     140
Pandey   42      70     148
Sunil    35      68     160

In [16]:
bloodf1 = df['Height']>65  #df['column']
bloodf2 = df['Weight']>145

In [18]:
print("\nrows with height >65 inch and weight >145 lbs\n" , '-'*30,sep='')
print(df[(bloodf1) & (bloodf2)])  #if both are true only then corresponding value will be fetched

rows with height >65 inch and weight >145 lbs
------------------------------
        Age  Height  Weight
Pandey   42      70     148
Sunil    35      68     160

In [19]:
df

        Age  Height  Weight
Raju     22      66     140
Pandey   42      70     148
Sarini   30      62     125
Sunil    35      68     160
Ashok    25      62     152

In [20]:
print("\ndataframe with only age and wight column whose Height >65 inch\n" , '-'*60 , sep='')
print(df[bloodf1][['Age' , 'Weight']])  #based on the bloodf1 condition we fetch age and height

dataframe with only age and wight column whose Height >65 inch
------------------------------------------------------------
        Age  Weight
Raju     22     140
Pandey   42     148
Sunil    35     160

In [21]:
selected_candidates = df[bloodf1][['Age' , 'Weight']] #df[condition1][[column1 , column2]]

In [22]:
selected_candidates

        Age  Weight
Raju     22     140
Pandey   42     148
Sunil    35     160

In [23]:
print("\nafter resetting index \n" , '-'*35 , sep='')
print(df.reset_index())   # to reset index but names will still appear

after resetting index
-----------------------------------
    index  Age  Height  Weight
0    Raju   22      66     140
1  Pandey   42      70     148
2  Sarini   30      62     125
3   Sunil   35      68     160
4   Ashok   25      62     152

In [24]:
print("\nafter reseting index with 'drop' option true \n" , '-'*35 , sep='')
print(df.reset_index(drop = True))  #to drop the names

after reseting index with 'drop' option true
-----------------------------------
   Age  Height  Weight
0   22      66     140
1   42      70     148
2   30      62     125
3   35      68     160
4   25      62     152

In [25]:
print("\nadding a new column 'Profession' \n" , '-'*35 , sep='')
df['Profession'] = "Students  Teacher Engineer Assistant Software " .split()
print(df)  #adding a new column

adding a new column 'Profession'
-----------------------------------
        Age  Height  Weight Profession
Raju     22      66     140   Students
Pandey   42      70     148    Teacher
Sarini   30      62     125   Engineer
Sunil    35      68     160  Assistant
Ashok    25      62     152   Software

In [26]:
print("\nsetting 'Profession' column as index\n" , '-'*35 , sep='')
print(df.set_index('Profession'))

setting 'Profession' column as index
-----------------------------------
            Age  Height  Weight
Profession
Students     22      66     140
Teacher      42      70     148
Engineer     30      62     125
Assistant    35      68     160
Software     25      62     152